.svg-container {
    /* Example gradient background */
    background: linear-gradient(135deg, #89D4CF 0%, #6e8ea5 100%);
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Adjust this style depending on your SVG's dimensions */
  .svg-container svg {
    width: 100%;
    height: auto;
  }


  .gradient-button {
    margin-bottom: 10px;
    font-size: 30px;
    background: linear-gradient(45deg, #007bff, #6610f2); /* Example gradient */
    border: none;
    color: white; /* Text color */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.gradient-button:hover {
  color: white;
  background: linear-gradient(45deg, #0056b3, #520d9b); /* Darker gradient on hover */
}

.hero {
  background-color: #fdfeff;
}

.hero h1{
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.hero p {
  font-size: 25px;
}