.slick-slide {
  position: relative;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.slick-center {
  transform: scale(1.1); 
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7; 
}

/* Show caption on hover */
.slick-slide:hover .carousel-caption {
  opacity: 1;
}

/* Button styles */
.slide-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
}

/* Dots (pagination) styles */
.slick-dots {
  bottom: 20px;
}



/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .slick-slide {
    margin: 0 5px;
  }
}
