.slick-slide {
  position: relative;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.slick-center {
  transform: scale(1.1); 
}

.carousel-caption {
  position: absolute;
  bottom: 1;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7; 
}

@media screen and (max-width: 768px) {
  .slick-slide {
    margin: 0 5px;
  }
}

button {
  color: white;
}