.custom-navbar {
    background-color: #ffffff;
    padding: 1rem 1rem;
}

.custom-navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-brand {
    color: #6563f3;
    font-size: 1.5rem; /* Example size, adjust as needed */
    font-weight: bold; /* Example style */
}

.custom-link {
    color: #3982b3;
}

.custom-button {
    background: linear-gradient(45deg, #007bff, #6610f2); /* Example gradient */
    border: none;
    color: white; /* Text color */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.custom-button:hover, .custom-button:focus {
    color: #FFF;
    background-image: linear-gradient(to right, #6b90d4, #3078a1);
}
