.custom-navbar {
    background-color: #f0f6ff;
    padding: 1rem 1rem;
}

.custom-navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-brand {
    color: #59819c;
    font-size: 1.5rem; /* Example size, adjust as needed */
    font-weight: bold; /* Example style */
}

.custom-link {
    color: #3982b3;
}

.custom-button {
    background-image: linear-gradient(to right, #FFD700, #FF8C00);
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    margin-left: auto; /* Pushes the button to the right */
}

.custom-button:hover, .custom-button:focus {
    color: #FFF;
    background-image: linear-gradient(to right, #FF8C00, #FFD700);
}
